.OrdersList {
  max-width:700px;
  margin:0 auto;

  &__intro{
    font-size: 1rem;
    line-height:1.5em;
    text-align: center;

  }
  &__entry {
    display: flex;
    font-size: 1rem;
    line-height:1.5em;
    border-top:1px solid rgba(0,0,0,0.2);
    flex-wrap: wrap;

    &Number {
      flex:0 0 100px;
      font-weight:700;
      padding-right:0.5rem;
      box-sizing: border-box;
    }
    &Date {
      flex:1 0 210px;
      font-size:0.875rem;
      padding-right:0.5rem;
    }

    &Name {
      font-weight:bold;
      &:after{
        content:', ';
      }
    }
    &Address {
      flex:0 0 100%;
      padding-left:100px;
    }
    &Phone {
      flex:0 0 100%;
      padding-left:100px;
    }
    &Count {
      flex:0 0 40px;
      text-align:center;
    }
    &Total {
      flex:0 0 60px;
      font-weight:700;
      text-align:right;
    }

  }
}