@import '../../../../colors';

@mixin input-underline{
  height:2px;
  position:absolute;
  bottom:0;
}

$color-primary-2h: #a0d9fc !default;
$color-primary-hb: #0477BE !default;
$color-neutral-h: #bcbcbc !default;
$color-error-hb: #ff3203!default;

.RenderField{
  position:relative;
  padding:1rem 0 1.125rem 0;

  &__label{
    position:absolute;
    left:0;
    z-index:1;
    top:1.35rem;
    font-size:1rem;
    transition: all 0.2s;
  }

  &__input input{
    position:relative;
    display:block;
    width:100%;
    padding:5px 0;
    font-size: 1rem;
    box-sizing: border-box;
    border:0;
    outline:none;
    border-bottom:2px solid $color-neutral-h;
    background:transparent;
    z-index:2;
  }
  &__input{
    position:relative;
  }
  &__underline{
    @include input-underline;
    width:0;
    z-index:4;
    left:50%;
    background: $color-primary-hb;
    transition: width 0.2s, left 0.2s;
  }
  &__loader{
    @include input-underline;

    display:none;
    width:100%;
    left:0;
    overflow: hidden;
    z-index:5;
    background: $color-primary-2h;


  }
  &__loaderIndicator{
    @include input-underline;
    background: $color-primary-hb;
    width:100%;
    left:0;

    animation-name: RenderField__loaderIndicator;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }
  &__error{
    position:absolute;
    bottom:0;
    width:100%;
    font-size: 0.875rem;
    color:$color-error-hb;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* -------------- */
  /* with modifiers */
  /* -------------- */
  &_busy{
    .RenderField__loader{
      display: block;
    }
  }
  &_focus{
    .RenderField__label{
      top:0;
      font-size:0.75rem;
      color: $color-primary-hb;
    }
    .RenderField__underline{
      width:100%;
      left:0;
    }
    &.RenderField_disabled,
    &.RenderField_readOnly{
      & .RenderField__underline{
        left:50%;
        width:0;
      }
    }
  }

  &_withError{
    & .RenderField__input input{
      border-bottom:2px solid $color-error-hb;
    }
  }
  &_notEmpty{
    .RenderField__label{
      top:0;
      font-size:0.75rem;
      color: $color-primary-hb;
    }
  }
}

@keyframes RenderField__loaderIndicator {
  0%   {left: 100% }
  100% {left: -100%}
}