@import '../../../colors';


.DepartmentsCarousel{
  &__entry{
    position:relative;
    color: black;
    box-sizing: border-box;
    padding:0.5rem;
    font-size: 1rem;
    transition:  border-color 0.2s, color 0.2s;
    font-family: "Roboto Condensed", sans-serif;
    display:flex;
    align-items:flex-end;
    overflow: hidden;
    &_even{
      background: $color-primary-h;
    }
    &_odd{
      background: $color-primary-2h;
    }
  }

  &__entry:hover{
    color:white;
    & .DepartmentsCarousel__icon *{
      fill:white;
    }
  }
  &__icon{
    flex:0 0 32px;
    overflow:hidden;
    & *{
      transition:  fill 0.2s;
      fill:black;
    }
  }
  &__label{
    flex:1 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height:32px;
    padding:0 0.25rem;
    margin-top:-2px;
  }
  &__entry_current:hover,
  &__entry_current{
    color:black;
    background: $color-secondary-hb ;
    cursor:default;
    & .DepartmentsCarousel__icon *{
        fill:black;
    }
  }
}