@import '../../colors';

.ProductCard {
  box-sizing: border-box;
  border: 2px solid white;
  max-width: 500px;
  position: relative;
  z-index: 1;
  transition: all 0.4s;
  background: white;
  box-shadow: 0 0 4px #999;
  display: flex;
  flex: 1 0 400px;
  margin: 10px;
  overflow: hidden;
  border-radius: 0.5rem;

  &_vertical {
    flex: 0 0 200px;
    width:200px;
    flex-direction:column;
  }
  &_verticalCompressed{
    flex: 0 0 200px;
    width:200px;
    flex-direction:column;
    & .ProductCard{
      &__infoBlock {
        position: relative;
        flex: 1 1 140px;
        box-sizing: border-box;
        height: 140px;
        overflow: hidden;
        padding: 0.5em 1em;
      }
      &__name {
        font-size: 1rem;
        line-height: 1.25em;
        font-weight: 400;
        overflow: hidden;
        position: relative;
        padding: 0;
        margin: 0;
        max-height: 2.68rem;
      }
    }
  }
  &_isInCart {
    opacity: 0.3;
  }
  &__imageBlock {
    position: relative;
    flex: 0 0 200px;
    height: 200px;
    overflow: hidden;
    box-sizing: border-box;
  }
  &__infoBlock {
    position: relative;
    flex: 1 1 200px;
    box-sizing: border-box;
    height: 200px;
    overflow: hidden;
    padding: 0.5em 1em;
  }

  &__price {
    position: absolute;
    left: 10px;
    bottom: 16px;
  }

  &__mark{
    position: absolute;
    left: 0;
    top: 0;
    &_popular,
    &_brandNew{
      left: auto;
      right: -50px;
      top: 10px;
      z-index:2;
      transition: right 0.2s ease-out;
    }

  }

  &__button {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }

  &:hover {
    border: 2px solid $color-secondary-hb;
    &.ProductCard_isInCart {
      opacity: 1;
    }
    & .ProductCard__mark{
      &_popular,
      &_brandNew{
        right: -0px;
      }
    }
  }
  &:hover .ProductCard__image {
    /*transform: scale(1.2);*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation-duration: 0.5s;
    animation-name: imageHover;
  }

  &__name {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.25em;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    max-height: 4.68rem;
  }

  &__name a {
    transition: all 0.4s;
    color: $color-primary-2b;
    text-decoration: none;
  }

  &__name a:hover {
    color: #8f1c2d;
  }

  &__name:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.375em;
    background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
  }

  &__info {
    position: absolute;
    left: 10px;
    top: 4.8rem;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375em;
    margin-bottom: 1em;
    height: 2.75em;
  }

  &__info:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.375em;
    background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
  }

  &__saleMark {
    position: absolute;
    top: 50px;
    right: 0;
    background: #ff2100;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 5px 0 0 5px;
    z-index: 3;
  }

}

@keyframes imageHover {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}