@import '../../../colors';
@import '../../../settings';

.ToolBar{

  position: fixed;
  padding:0.25rem;
  background: $color-cool-grey-2h;
  box-sizing: border-box;
  height:$tool-bar-size-xs;

  &_topLeft{
    top:0;
    left:0;
    border-radius: 0 0 $tool-bar-border-radius 0;
  }
  &_topCenter{
    top:0;
    left:50%;
    transform:translateX(-50%);
    border-radius: 0 $tool-bar-border-radius $tool-bar-border-radius 0;
  }
  &_topRight{
    top:0;
    right:0;
    border-radius: 0 0 0 $tool-bar-border-radius ;
  }
  &_bottomLeft{
    bottom:0;
    left:0;
    border-radius: 0 $tool-bar-border-radius 0 0;
  }
  &_bottomCenter{
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:  $tool-bar-border-radius $tool-bar-border-radius 0 0;
  }
  &_bottomRight{
    bottom:0;
    right:0;
    border-radius:  $tool-bar-border-radius 0 0 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : $sm-media-step-min ) {
  .ToolBar{
    height:$tool-bar-size-sm;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $md-media-step-min) {
  .ToolBar{
    height:$tool-bar-size-md;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $lg-media-step-min) {
  .ToolBar{
    height:$tool-bar-size-lg;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $xl-media-step-min) {
  .ToolBar{
    height:$tool-bar-size-xl;
  }
}