@import '../../../colors';
@import '../../../settings';

.ToolBar{

  position: fixed;
  padding:0.25rem;
  background: $color-cool-grey-2h;
  box-sizing: border-box;
  height:$tool-bar-size-lg;

  &_topLeft{
    top:0;
    left:0;
    border-radius: 0 0 $tool-bar-border-radius 0;
  }
  &_topCenter{
    top:0;
    left:50%;
    transform:translateX(-50%);
    border-radius: 0 $tool-bar-border-radius $tool-bar-border-radius 0;
  }
  &_topRight{
    top:0;
    right:0;
    border-radius: 0 0 0 $tool-bar-border-radius ;
  }
  &_bottomLeft{
    bottom:0;
    left:0;
    border-radius: 0 $tool-bar-border-radius 0 0;
  }
  &_bottomCenter{
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:  $tool-bar-border-radius $tool-bar-border-radius 0 0;
  }
  &_bottomRight{
    bottom:0;
    right:0;
    border-radius:  $tool-bar-border-radius 0 0 0;
  }
}