@import '../../colors';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* Using flexbox for a sticky footer
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
*/
html, body, #root {
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size:0.75rem;
  line-height:1.345em;
  margin:0;
  padding:0;
}
input,
textarea,
select,
button{
  font-family: 'Roboto', sans-serif;
}
h1{
  font-weight:400;
  font-size:2rem;
  line-height:1.25em;
  font-family: 'Roboto Condensed', sans-serif;
  color:$color-primary-hb;
  text-align: center;
  margin: 3rem 1rem;
}
.Layout{
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content{
    flex: 1 0 auto;
    padding-bottom:64px;
    &Box{
      box-sizing: border-box;
      overflow: hidden;
      width:100%;
      padding:0 1rem;
      position:relative;
    }
  }
  &__content_blur {
    filter: blur(1px);
  }
  &__footer{
    background: $color-cool-grey-3h;
    flex-shrink: 0;
  }

}

