@import '../../../colors';
@import '../../../settings';

$button-width: 48px;

:export {
  buttonWidth: $button-width;
  buttonBackgroundColor: rgba(255,255,255,0.2);/*$color-cool-grey-h ;*/
  buttonColor: $color-cool-grey-b ;
}

.Carousel{
  width:100%;
  position:relative;
  /*background: $color-cool-grey-h;*/

  &__slot{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    z-index:1;
  }

  &__container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:1;
  }
  &__frame{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
  }

  &_withButtons .Carousel__frame{
    right:0;
    left:0;
  }

  &__button{
  display:none;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: $sm-media-step-min) {
  .Carousel {

  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: $md-media-step-min) {
  .Carousel {
    &_withButtons .Carousel__frame{
      right:$button-width;
      left:$button-width;
    }

    &__button{
      position:absolute;
      top:0;
      bottom:0;
      width:$button-width;
      background:$color-cool-grey-h;
      outline:none;
      border:none;
      display:block;
      box-sizing: border-box;
      cursor: pointer;

      & svg{
        display:block;
        position:absolute;
        left:0;
        top:50%;
        transform:translateY(-50%);
      }
      &_left{
        left:0;
      }
      &_right {
        right:0;
        & svg{
          transform:translateY(-50%) rotate(180deg);
        }
      }
      &_disabled {
        opacity:0.2;
        cursor:default;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: $lg-media-step-min) {
  .Carousel {

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: $xl-media-step-min) {
  .Carousel {

  }
}