@import '../../../colors';

$background-color: $color-primary-hb;
$button-background-color: $color-primary-b ;
$button-width: 48px;

:export {
  buttonWidth: $button-width;
  buttonBackgroundColor: $color-primary-b ;
}

.Carousel{
  width:100%;
  position:relative;
  background: $background-color;

  &__slot{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    z-index:1;
  }

  &__container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    z-index:1;
  }
  &__frame{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow: hidden;
  }

  &_withButtons .Carousel__frame{
    right:$button-width;
    left:$button-width;
  }

  &__button{
    position:absolute;
    top:0;
    bottom:0;
    width:$button-width;
    background:$button-background-color;
    outline:none;
    border:none;
    display:block;
    box-sizing: border-box;
    cursor: pointer;

    & svg{
      display:block;
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
    }
    &_left{
      left:0;
    }
    &_right {
      right:0;
      & svg{
        transform:translateY(-50%) rotate(180deg);
      }
    }
    &_disabled {
      opacity:0.2;
      cursor:default;
    }
  }
}