@import 'vars';

.ScrollBox{
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  border-left:1px solid #b1bcd7;
  border-right:1px solid #b1bcd7;
  &__box {
    z-index: 1;
    padding:10px 20px 10px 10px;
  }

  &__slider {
    opacity: 0;
    transition: opacity 0.4s;
  }
  .VerticalSlider{
    position:absolute;
    z-index: 3;
    top: $margins-size;
    right: $margins-size;
    width: $bar-size;
  }
  .VerticalSlider__bar{
    width:$bar-size;
    background:rgba(0,0,0,0);
    border-radius: $border-radius;
    transition:background 0.2s;
  }
  .VerticalSlider__cursor{
    position: absolute;
    width:$bar-size;
    background:rgba(0,0,0,0);
    border-radius: $border-radius;
    transition:background 0.2s;
  }
  &:hover .VerticalSlider__cursor{
    background: rgb(77, 92, 116);
  }
  &:hover .VerticalSlider__bar{
    background:rgba(77, 92, 116,0.3);
  }
  &:after{
    content:'';
    position:absolute;
    width:100%;
    height:1.5em;
    z-index:2;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  &:before{
    content:'';
    position:absolute;
    bottom:0;
    width:100%;
    height:1.5em;
    z-index:2;
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
}