@import '../../../../colors';
@import '../../../../settings';

.FlashMessage {
  position: relative;
  margin:0 auto;
  width:100%;
  max-width:400px;
  padding:0;
  transition: all 0.2s ease-out 0.1s;

  &__window {
    position: absolute;
    width:100%;
    box-sizing: border-box;
    border-radius:1rem;
    overflow: hidden;
    background: rgba(255, 255, 255, 1);
    transition: all 0.2s ease-out;
    box-shadow: 0 0 4px rgba(0,0,0,0.7);
  }

  &__title{
    position:absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    bottom:0;
    left:0;
    padding:0 1rem 0 1rem;
    right:0;
    line-height: 2rem;
    font-size:0.875rem;
  }
  &__body {
    box-sizing: border-box;
    max-height:4rem;
    top:1rem;
    position:absolute;
    left:1rem;
    right:2rem;
    color: black;
    text-align: left;
    font-size: 1rem;
    line-height:1.345em;
    overflow:hidden;
    text-overflow: ellipsis;
  }

  &__closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
  }

  &_error {
    .FlashMessage{
      &__title{
        background:$color-error-hb;
        color:white;
      }
    }
  }
  &_info {
    .FlashMessage{
      &__title{
        background:$color-info-hb;
        color:white;
      }
    }
  }
  &_success {
    .FlashMessage{
      &__title{
        background:$color-success-b;
        color:white;
      }
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : $sm-media-step-min ) {
  .FlashMessage{

  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $md-media-step-min) {
  .FlashMessage{

  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $lg-media-step-min) {
  .FlashMessage{

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $xl-media-step-min) {
  .FlashMessage {

  }
}