@import '../../../colors';

.Header{
  width:100%;
  background:$color-cool-grey-4h;
  display:flex;
  box-shadow: 0 0 4px #000;
  position:relative;
  z-index:2;

  &__logoBox{
    flex: 1 1 200px;
    text-align:center;
    padding:8px;
  }
  &__toggleIconBox{
    flex: 0 0 48px;
    padding:5px;
    box-sizing: border-box;
  }

}