@import '../../../colors';

.DepartmentsTree .Tree{

  .Tree__label svg *{
    fill:$color-primary-hb;
  }

  /* -------------- */
  /* subtree */
  /* -------------- */
  .Tree {
    & .Tree__node:last-child {
      border-bottom: none;
    }
    & .Tree__label {
      font-weight: 400;
      padding-left: 3.65rem;
      font-size: 0.875rem;
    }
    /* subtree */
    .Tree {
      & .Tree__label {
        padding-left: 5.65rem;
      }
      /* subtree */
      .Tree {
        & .Tree__label {
          padding-left: 6.65rem;
        }
      }
    }
  }
}