@import '../../colors';

.Header{
  width:100%;
  background:$color-primary-2h;
  display:flex;
  &__logoBox{
    flex: 1 1 200px;
    text-align:center;
    padding:8px;
  }
  &__toggleIconBox{
    flex: 0 0 48px;
    padding:5px;
    box-sizing: border-box;
  }

}