
.FlashMessages {
  position: fixed;
  z-index: 4000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  user-select: none;
  transition: bottom 0s linear 0.2s;

  &__container{
    position: relative;
    z-index: 3;
    margin:3px auto;
    width:400px;
    opacity: 1;
    transition: opacity 0.2s linear 0s;
  }

  &_isVisible {
    bottom: 0;
    transition: bottom 0s linear 0s;
    & .FlashMessages{
      &__scrim {
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
      &__container {
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
    }
  }
}