
.FlashMessages {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  right: 0;
  bottom: 100%;
  overflow: hidden;
  user-select: none;
  transition: bottom 0s linear 0.2s;

  &__scrim {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    z-index: 2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0s;
  }
  &__container{
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0s;
  }

  &_isVisible {
    bottom: 0;
    transition: bottom 0s linear 0s;
    & .FlashMessages{
      &__scrim {
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
      &__container {
        opacity: 1;
        transition: opacity 0.2s linear 0s;
      }
    }
  }
}