@import '../../../colors';
@import '../../../styles';

.UserNavigator{
  &__entries{
    list-style: none;
    margin:0;
    padding: 0;
  }

  &__email{
    margin:0 0 1rem 0;
    font-weight: 700;
  }

  &__node{

  }

  &__label{
    @include navigator-entry-label();
    display:flex;
    text-decoration: none;
    &:hover{
      @include navigator-entry-label-hover();
    }
    &_isSelected{
      @include navigator-entry-label-current();
    }
  }
  &__labelIcon{
    flex: 0 0 38px;
    margin-right:0.5rem;
    width:38px;
    height:38px;
    box-sizing: border-box;
    padding:6px;
  }
  &__labelText{
    flex: 1 1 ;
  }

}
