.UserPassword {

  &__fields {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  &__field {
    flex: 1 0 100%;
    box-sizing: border-box;
    padding: 0 0.5rem;
  }
}
@media (min-width: 480px) {
  .UserPassword {
    &__field {
      flex: 1 0 50%;
      box-sizing: border-box;
      padding: 0 0.5rem;
      &_full {
        margin: 0 50% 0 0;
      }
      &_half {

      }
    }
  }
}