@mixin display-fill() {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

$color-primary-2h: #a0d9fc !default;
$color-primary-hb: #0477BE !default;
$color-secondary-b: #ca7609 !default;
$color-neutral-hb: #8c8b8a !default;
$color-error-hb: #ff3203!default;

.RenderButton {

  &__input button {
    background: $color-primary-hb;
    color: white;
    outline: none;
    border: 0;
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.2s;
    text-transform: uppercase;
  }
  &:hover {
    .RenderButton__input button {
      background: $color-secondary-b;
    }
  }
  &_focus {

  }
  &_disabled,
  &.RenderButton_disabled:hover {
    .RenderButton__input button {
      cursor: default;
      background: $color-neutral-hb;
    }
  }
}