@import '../../../../styles';

@mixin display-fill() {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

$color-primary-2h: #a0d9fc !default;
$color-primary-hb: #0477BE !default;
$color-secondary-b: #ca7609 !default;
$color-neutral-h: #bcbcbc !default;
$color-error-hb: #ff3203!default;

.RenderButton {
  position: relative;
  &__input button {
    @include button();
  }
  &:hover {
    .RenderButton__input button {
      background: $color-secondary-b;
    }
  }
  &_focus {

  }
  &_disabled,
  &.RenderButton_disabled:hover {
    .RenderButton__input button {
      cursor: default;
      background: $color-neutral-h;
    }
  }
}