@import '../../../colors';

$node-height: 42px;
$toggle-size: 38px;
$toggle-margin: 2px;
$node-border-height: 1px;

$color-primary-2b: #083364 !default;
$color-secondary-b: #ca7609 !default;
$color-neutral-2h: #d7d7d6 !default;
$color-neutral-3h: #eaeaea !default;
$color-neutral-b: #656463 !default;

:export {
  nodeHeight: $node-height;
  bordeHeight: $node-border-height;
}

.Tree {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
  transition: max-height 0.2s;
  &__node {
    display: block;
    position: relative;
    &:last-child {

    }
    /* -------------- */
    /* node with modifiers */
    /*-------------- */
    &_isSelected,
    &_isSelected:hover {
      & .Tree__label {
        border-left: 2px solid $color-neutral-b;
      }
      & .Tree__node .Tree__label {
        border-left: 2px solid $color-neutral-2h;
      }
    }
    &_isSelected{
      & .Tree .Tree__node:hover .Tree__label {
        border-left: 2px solid $color-secondary-b;
      }
    }
    &_isExpanded .Tree__toggleIcon {
      transform: rotate(-90deg);
    }
  }
  &__label {
    position: relative;
    display: block;
    border: 0;
    outline: none;
    background: none;
    padding: 0 $node-height 0 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    height: $node-height;
    font-size: 1rem;
    line-height: $node-height;
    cursor: pointer;
    transition: border-left-color 0.5s;
    font-weight: 700;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 2px solid $color-neutral-2h;
    & a {
      color: $color-primary-2b;
    }
    &:hover {
      border-left: 2px solid $color-secondary-b;
      & a {
        color: black;
      }
    }
  }

  &__toggle {
    position: absolute;
    right: $toggle-margin;
    top: $toggle-margin;
    border: 0;
    outline: none;
    background: white;
    width: $toggle-size;
    height: $toggle-size;
    cursor: pointer;
    padding: 0;
    &:hover .Tree__toggleIcon {
      background: $color-neutral-3h;
    }
  }

  &__toggleIcon {
    display: block;
    width: $toggle-size;
    height: $toggle-size;
    border-radius: 50%;
    transition: all 0.2s;
    & svg {
      display: block;
      transition: all 0.2s;
    }
    & polygon {
      fill: $color-neutral-b;
    }
  }
  &__toggle:hover .Tree__toggleIcon polygon {
    fill: black;
  }
  /* -------------- */
  /* subtree */
  /* -------------- */
  .Tree {
    & .Tree__node:last-child {
      border-bottom: none;
    }
    & .Tree__label {
      font-weight: 400;
      padding-left: 1rem;
      font-size: 0.875rem;
    }
    /* subtree */
    .Tree {
      & .Tree__label {
        padding-left: 2rem;
      }
      /* subtree */
      .Tree {
        & .Tree__label {
          padding-left: 3rem;
        }
      }
    }
  }
}

