$corporate-blue: #0477BE;
$corporate-dark-blue: #003049;
/* color grades dark to light: ... 2b, b, hb, h 2h...*/
/* primary colors */
$color-primary-3h: #d2eeff;
$color-primary-2h: #a0d9fc;
$color-primary-h: #5aaee2;
$color-primary-hb: #0477BE;
$color-primary-b: #094f9f;
$color-primary-2b: #083364;
$color-primary-3b: #003049;
/* secondary colors */
$color-secondary-3h: #faeee0;
$color-secondary-2h: #f7d3a4;
$color-secondary-h: #f3b462;
$color-secondary-hb: #ff9103;
$color-secondary-b: #ca7609;
$color-secondary-2b: #814c08;
/* neutral colors */
$color-neutral-3h: #eaeaea;
$color-neutral-2h: #d7d7d6;
$color-neutral-h: #bcbcbc;
$color-neutral-hb: #8c8b8a;
$color-neutral-b: #656463;
$color-neutral-2b: #3d3d3d;
/* neutral colors */
$color-cool-grey-5h: #dde2ea;
$color-cool-grey-4h: #d1d8e3;
$color-cool-grey-3h: #c2cbda;
$color-cool-grey-2h: #adb9ce;
$color-cool-grey-h: #91a1be;
$color-cool-grey-hb: #798bac;
$color-cool-grey-b: #5b6e96;
$color-cool-grey-2b: #445882;
$color-cool-grey-3b: #293e6b;
/* error colors */
$color-error-3h: #ffe0db;
$color-error-2h: #fbc3ba;
$color-error-h: #fd8a78;
$color-error-hb: #ff3203;
$color-error-b: #a02c03;
$color-error-2b: #601c03;
/* info colors */
$color-info-3h: #d2eeff;
$color-info-2h: #a0d9fc;
$color-info-h: #5aaee2;
$color-info-hb: #0477BE;
$color-info-b: #094f9f;
$color-info-2b: #083364;
$color-info-3b: #003049;
/* success colors */
$color-success-3h: #c8ffe6;
$color-success-2h: #affcd8;
$color-success-h: #63e2a8;
$color-success-hb: #06be5e;
$color-success-b: #0c9f5a;
$color-success-2b: #096431;
$color-success-3b: #024924;

:export {
  /* primary colors */
  colorPrimary3H: $color-primary-3h;
  colorPrimary2H: $color-primary-2h;
  colorPrimaryH: $color-primary-h;
  colorPrimaryHB: $color-primary-hb;
  colorPrimaryB: $color-primary-b;
  colorPrimary2B: $color-primary-2b;
  colorPrimary3B: $color-primary-3b;
  /* secondary colors */
  colorSecondary3H: $color-secondary-3h;
  colorSecondary2H:$color-secondary-2h;
  colorSecondaryH:$color-secondary-h;
  colorSecondaryHB:$color-secondary-hb;
  colorSecondaryB:$color-secondary-b;
  colorSecondary2B:$color-secondary-2b;
  /* neutral colors */
  colorNeutral3H: $color-neutral-3h;
  colorNeutral2H: $color-neutral-2h;
  colorNeutralH: $color-neutral-h;
  colorNeutralHB: $color-neutral-hb;
  colorNeutralB: $color-neutral-b;
  colorNeutral2B: $color-neutral-2b;
  /* error colors */
  colorError3H: $color-error-3h;
  colorError2H: $color-error-2h;
  colorErrorH: $color-error-h;
  colorErrorHB: $color-error-hb;
  colorErrorB: $color-error-b;
  colorError2B: $color-error-2b;
  /* info colors */
  colorInfo3H: $color-info-3h;
  colorInfo2H:$color-info-2h;
  colorInfoH:$color-info-h;
  colorInfoHB:$color-info-hb;
  colorInfoB:$color-info-b;
  colorInfo2B: $color-info-2b;
  colorInfo3B:$color-info-3b;
  /* success colors */
  colorSuccess3H: $color-success-3h;
  colorSuccess2H: $color-success-2h;
  colorSuccessH: $color-success-h;
  colorSuccessHB: $color-success-hb;
  colorSuccessB:  $color-success-b;
  colorSuccess2B: $color-success-2b;
  colorSuccess3B: $color-success-3b;
}