$corporate-blue: #0477BE;
$corporate-dark-blue: #003049;
/* color grades dark to light: ... 2b, b, hb, h 2h...*/
/* primary colors */
$color-primary-3h: #d2eeff;
$color-primary-2h: #a0d9fc;
$color-primary-h: #5aaee2;
$color-primary-hb: #0477BE;
$color-primary-b: #094f9f;
$color-primary-2b: #083364;
$color-primary-3b: #003049;
/* secondary colors */
$color-secondary-3h: #faeee0;
$color-secondary-2h: #f7d3a4;
$color-secondary-h: #f3b462;
$color-secondary-hb: #ff9103;
$color-secondary-b: #ca7609;
$color-secondary-2b: #814c08;
/* neutral colors */
$color-neutral-3h: #eaeaea;
$color-neutral-2h: #d7d7d6;
$color-neutral-h: #bcbcbc;
$color-neutral-hb: #8c8b8a;
$color-neutral-b: #656463;
$color-neutral-2b: #3d3d3d;
/* error colors */
$color-error-3h: #ffe0db;
$color-error-2h: #fbc3ba;
$color-error-h: #fd8a78;
$color-error-hb: #ff3203;
$color-error-b: #a02c03;
$color-error-2b: #601c03;
/* info colors */
$color-info-3h: #d2eeff;
$color-info-2h: #a0d9fc;
$color-info-h: #5aaee2;
$color-info-hb: #0477BE;
$color-info-b: #094f9f;
$color-info-2b: #083364;
$color-info-3b: #003049;
/* success colors */
$color-success-3h: #c8ffe6;
$color-success-2h: #affcd8;
$color-success-h: #63e2a8;
$color-success-hb: #06be5e;
$color-success-b: #0c9f5a;
$color-success-2b: #096431;
$color-success-3b: #024924;