$corporate-blue: #0477BE;
$corporate-lightest-blue: #e6efff;
/* color grades dark to light: ... 2b, b, hb, h 2h...*/
/* primary colors */
$color-primary-3h: #d2eeff;
$color-primary-2h: #a0d9fc;
$color-primary-h: #5aaee2;
$color-primary-hb: #0477BE;
$color-primary-b: #094f9f;
$color-primary-2b: #083364;
/* secondary colors */
$color-secondary-3h: #faeee0;
$color-secondary-2h: #f7d3a4;
$color-secondary-h: #f3b462;
$color-secondary-hb: #ff9103;
$color-secondary-b: #ca7609;
$color-secondary-2b: #814c08;
/* neutral colors */
$color-neutral-3h: #eaeaea;
$color-neutral-2h: #d7d7d6;
$color-neutral-h: #bcbcbc;
$color-neutral-hb: #8c8b8a;
$color-neutral-b: #656463;
$color-neutral-2b: #3d3d3d;
/* error colors */
$color-error-3h: #ffe0db;
$color-error-2h: #fbc3ba;
$color-error-h: #fd8a78;
$color-error-hb: #ff3203;
$color-error-b: #a02c03;
$color-error-2b: #601c03;