.xs-flex_25{
  flex: 0 0 25%;
}
.xs-flex_50{
  flex: 0 0 50%;
}
.xs-flex_100{
  flex: 0 0 100%;
}
.xs-marginRight_0{
  margin-right:0;
}
.xs-marginRight_25{
  margin-right:25%;
}
.xs-marginRight_50{
  margin-right:50%;
}

.xs-marginLeft_0{
  margin-left:0;
}
.xs-marginLeft_25{
  margin-left:25%;
}
.xs-marginLeft_50{
  margin-left:50%;
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .sm-flex_25{
    flex: 0 0 25%;
  }
  .sm-flex_50{
    flex: 0 0 50%;
  }
  .sm-flex_100{
    flex: 0 0 100%;
  }
  .sm-marginRight_0{
    margin-right:0;
  }
  .sm-marginRight_25{
    margin-right:25%;
  }
  .sm-marginRight_50{
    margin-right:50%;
  }
  .sm-marginLeft_0{
    margin-left:0;
  }
  .sm-marginLeft_25{
    margin-left:25%;
  }
  .sm-marginLeft_50{
    margin-left:50%;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .md-flex_25{
    flex: 0 0 25%;
  }
  .md-flex_50{
    flex: 0 0 50%;
  }
  .md-flex_100{
    flex: 0 0 100%;
  }
  .md-marginRight_0{
    margin-right:0;
  }
  .md-marginRight_25{
    margin-right:25%;
  }
  .md-marginRight_50{
    margin-right:50%;
  }
  .md-marginLeft_0{
    margin-left:0;
  }
  .md-marginLeft_25{
    margin-left:25%;
  }
  .md-marginLeft_50{
    margin-left:50%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .lg-flex_25{
    flex: 0 0 25%;
  }
  .lg-flex_50{
    flex: 0 0 50%;
  }
  .lg-flex_100{
    flex: 0 0 100%;
  }
  .lg-marginRight_0{
    margin-right:0;
  }
  .lg-marginRight_25{
    margin-right:25%;
  }
  .lg-marginRight_50{
    margin-right:50%;
  }
  .lg-marginLeft_0{
    margin-left:0;
  }
  .lg-marginLeft_25{
    margin-left:25%;
  }
  .lg-marginLeft_50{
    margin-left:50%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .xl-flex_25{
    flex: 0 0 25%;
  }
  .xl-flex_50{
    flex: 0 0 50%;
  }
  .xl-flex_100{
    flex: 0 0 100%;
  }
  .xl-marginRight_0{
    margin-right:0;
  }
  .xl-marginRight_25{
    margin-right:25%;
  }
  .xl-marginRight_50{
    margin-right:50%;
  }
  .xl-marginLeft_0{
    margin-left:0;
  }
  .xl-marginLeft_25{
    margin-left:25%;
  }
  .xl-marginLeft_50{
    margin-left:50%;
  }
}