@import 'colors';

$node-height: 42px;

@mixin button(){
  background: $color-primary-hb;
  color:white;
  outline:none;
  border:0;
  cursor:pointer;
  font-size:1rem;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  text-align:center;
  box-sizing: border-box;
  transition:0.4s background;
  &:hover{
    background: $color-secondary-hb;
  }
  &[disabled]{
    cursor:default;
    background: $color-neutral-h;
    &:hover{
      background: $color-neutral-h;
    }
  }
}

@mixin navigator-entry-label(){
  position: relative;
  display: block;
  border: 0;
  outline: none;
  background: none;
  padding: 0 $node-height 0 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  height: $node-height;
  font-size: 1rem;
  line-height: $node-height;
  cursor: pointer;
  transition: border-left-color 0.5s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 2px solid $color-neutral-2h;
  color: $color-primary-2b;
  & a {
    display:block;
    color: $color-primary-2b;
    text-decoration: none;
  }
}
@mixin navigator-entry-label-hover(){
  border-left: 2px solid $color-neutral-b;
  color: black;
  & a {
    display:block;
    color: black;
  }
}
@mixin navigator-entry-label-current(){
  border-left: 2px solid $color-secondary-b;
  color: $color-secondary-2b;
}