@import '../../../colors';

.RestorePassword{
  &__restoreButton{
    outline:none;
    border:0;
    background:transparent;
    padding:0.5rem 0;
    font-size:0.875rem;
    line-height:1.345em;
    cursor:pointer;
    color:$color-primary-2b;
    transition: 0.2s color;

    &:hover{
      color:$color-secondary-2b;
    }
  }
}