@import '../../colors';

.PriceSticker {
  line-height: 1.375em;
  font-weight: 700;
  color: $color-primary-2b;
  text-align: left;
  position: relative;
  background-color: rgba(255,255,255,0.7);
  padding: 2px 7px;
  border-radius: 5px;

  &_sale {
    background-color: $color-error-hb;
    color: white;
    border-radius: 5px 0 0 5px;
  }

  &_old {
    position: relative;
    color: $color-primary-hb;
    border-radius: 0 5px 5px 0;
  }

  &_old:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: $color-primary-hb;
    top: 50%;
    right: 5px;
    left:5px;
    margin-top: -1px;
  }
}