@import '../../../colors';


.Authentication{
  padding: 1rem 0;
  &__title{
    color: $color-primary-b;
    font-weight:normal;
    font-size:1.25rem;
    line-height:1.25rem;
    padding:0;
    margin:0 0 2rem 0;
    text-transform: uppercase;
  }
  &__row{
    position:relative;
  }
  &__hr{
    position:relative;
  }
  &__handlerMessage{
    font-size:0.875rem;
    line-height:1.345em;
    border-left:3px solid $color-primary-hb;
    padding: 0 0 0 10px;
    margin-bottom:10px;
  }

}