@import '../../colors';

.ProductsPromo{

  &__entries{
    display:flex;
    overflow:auto;
  }
  &__title{
    color:$color-primary-hb;
    font-size: 1.5rem;
    text-align:center;
    font-weight:400;
  }
  &__more{

  }
}