@import '../../colors';
@import '../../styles';

.NotFound{

  &__code{
    color: $color-primary-h;
    font-size:8rem;
    text-align:center;
    line-height:1em;
    padding:0 1rem;
    margin:0;
    letter-spacing: -7px;
  }
  &__message{
    text-align:center;
    font-size:1rem;
    line-height:1.345em;
    padding:0 1rem;
    margin:0 auto 2rem auto;
  }
  &__divider{
    @include divider();
  }
}